<main id="container" >
  <h1 style= "border: solid"}> Hello World!!!!</h1>
  <p> This is anik</p>
</main>


 <style>
   #container {
     background-color: salmon;
     height: 80vh;
     width: 50vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: auto;
   }   
 </style>
