---
import '../styles/global.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content="Linko - yet another url shortner">
		<title>Linko</title>
	</head>
	<body class="bg-neutral-900 flex flex-col justify-center items-center h-screen w-screen">
		<slot />
	</body>
</html>

<!-- <style> -->
<!-- 	html, -->
<!-- 	body { -->
<!--     background: #11111f; -->
<!-- 		margin: 0; -->
<!-- 		width: 100vw; -->
<!-- 		height: 100vh; -->
<!-- 	} -->
<!-- </style> -->
